@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  text-shadow: rgba(0, 0, 0, 0.342) 0.1em 0.1em 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(90deg, rgb(159, 30, 131) 0%, rgb(123, 39, 131) 100%);
  position: relative;
  min-height: 100vh;
}

body h2 {
  color: white;
}

footer {
  font-size: 12px;
  background-color: rgb(53, 0, 53);
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.0rem; 
  text-align: center;
  padding-top: 15px;

}

.conteiner {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  max-width:100px;
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.747);
  pointer-events: none;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 32px;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.question {
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.wpp {
  width: 200px;
}

button {
  font-size: 18px;
  width: 100%;
  text-align: start;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #510153;
  color: antiquewhite;
  text-shadow: rgba(0, 0, 0, 0.342) 0.1em 0.1em 0.2em;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.747);
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.finish button {
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.342) 0.1em 0.1em 0.2em;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.747);
}
